body {
    background: url(../img/main_bg4.png) center center / cover no-repeat;
    height: 600px;
    font-family: 'Mystical Woods Smooth Script';
    font-weight: normal;
    font-style: normal;
    .root {
        .header {
            color: $main-color;
                
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;
            .a {
                color: black;
                text-decoration: none;
                margin-bottom: 20px;
                border: 1px solid $main-color;
                background-color: $main-color;
                border-radius: 5px;
                padding: 10px 20px;
                width: 300px;
                text-align: center;
            }
        }
    }
    
} 
