
@font-face {
    font-family: 'Mystical Woods Smooth Script';
    src: url('../fonts/MysticalWoodsSmoothScript.eot');
    src: local('../fonts/Mystical Woods Smooth Script'), local('MysticalWoodsSmoothScript'),
        url('../fonts/MysticalWoodsSmoothScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MysticalWoodsSmoothScript.woff2') format('woff2'),
        url('../fonts/MysticalWoodsSmoothScript.woff') format('woff'),
        url('../fonts/MysticalWoodsSmoothScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "variables"

body{
    background: url(../img/main_bg4.png) center center / cover no-repeat;
    height: 600px;
    font-family: 'Mystical Woods Smooth Script';
    font-weight: normal;
    font-style: normal;
    .root {
        .header {
            color: $main-color;
                
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;
            .a {
                color: black;
                text-decoration: none;
                margin-bottom: 20px;
                border: 1px solid $main-color;
                background-color: $main-color;
                border-radius: 5px;
                padding: 10px 20px;
                width: 300px;
                text-align: center;
            }
        }
    }
    
} 
