@font-face {
    font-family: 'Mystical Woods Smooth Script';
    src: url('../fonts/MysticalWoodsSmoothScript.eot');
    src: local('../fonts/Mystical Woods Smooth Script'), local('MysticalWoodsSmoothScript'),
        url('../fonts/MysticalWoodsSmoothScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MysticalWoodsSmoothScript.woff2') format('woff2'),
        url('../fonts/MysticalWoodsSmoothScript.woff') format('woff'),
        url('../fonts/MysticalWoodsSmoothScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}