.btn_modal_login {
    background: rgb(157, 179, 35);
    align-items: center;
}

.checkbox {
    display: inline;
}


#check_label {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 100px;
}