.container_modal {
    background: #9152f8;
    // background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -webkit-linear-gradient(top, #3712ef, #fafcfd);
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    font-family: cursive;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 20;
    .close_btn_window_registration {
        position: fixed;
        color: black;
        top: 2px;
        left: 384px;
        cursor: pointer;
    }
    .header_modal_login {
        padding: 20px 40px;
        h2 {
            // font-family: 'Open Sans', sans-serif;
            margin: 0;
            text-align: center;
            }
    }
    
    .form_registration {
        padding: 0 40px 30px 40px;
        margin: 0;
        .form_control {
            margin-bottom: 10px;
            // padding-bottom: 20px;
            .label_form_registration {
                display: inline-block;
                margin-bottom: 5px;
                // font-family: 'Open Sans', sans-serif;
            }
            .input{
                border-radius: 5px;
                border: 2px solid #f0f0f0;
                padding: 10px;
                width: 100%;
                font-size: 14px; 
                display: block;
                // font-family: 'Open Sans', sans-serif;
            }
            .input_error {
                border: 2px solid red;    
            }
            .input_success {
                border: 2px solid green;    
            }
            #form_modal_icon_1 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_2 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_3 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_4 {
                bottom: 30px;
                right: 10px;
            }
            i {
                position: relative;
                float: right;
                visibility: hidden;
            }
            .i_super {
                visibility: visible;
                color: green;
            }
            .i_error {
                visibility: visible;
                color: red;
            }
            .small_registration {
                color: red;
                font-family: 'Open Sans', sans-serif;
                visibility: hidden;
            }
            .small_visible {
                visibility: visible;
                color: red;
                font-family: 'Open Sans', sans-serif;    
            }
        }
        .btn_modal_registration_form {
            display: flex;
            justify-content: center;
            .btn_modal_registration {
                background-color: #fff;
                border: 2px solid #fff;
                border-radius: 10px;
                color: #fff;
                display: block;
                padding: 10px;
                width: 160px;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                cursor: pointer;
                color: black;
            }
            .btn_success {
                background: green;
                border: none;
            }
            .change_color_button {
                background-color: black;
                border: 2px solid black;
                color: #fff;  
            }
        }
        
    }
    
}
    






