.modal_record {
    border-radius: 5px;
    width: 450px;
    height: 550px;
    background: white;
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: -webkit-linear-gradient(top, #1e46d6, #a8dee6);
    .header_record {
        text-align: center;
        font-family: cursive;
        font-size: 34px;
        border-bottom-style: solid;
    }
    .close_btn_window_record {
        position: fixed;
        top: 6px;
        right: 8px;
        font-size: x-large;
        cursor: pointer;
    }
    .container_record {
        display: grid;
        grid-template-rows: repeat(11,1fr);
        grid-template-columns: 1fr 1fr 1fr;
        .cel_record {
            font-family: cursive;
            font-size: 24px;
        }
    }
}
.dark_record {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}





