.container_modal {
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // visibility: hidden;
    .header_modal_login {
        padding: 20px 40px;
        h2 {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            text-align: center;
            }
    }
    
    .form_registration {
        padding: 0 40px 30px 40px;
        margin: 0;
        .form_control {
            margin-bottom: 10px;
            // padding-bottom: 20px;
            label {
                display: inline-block;
                margin-bottom: 5px;
                font-family: 'Open Sans', sans-serif;
            }
            .input{
                border-radius: 5px;
                border: 2px solid #f0f0f0;
                padding: 10px;
                width: 100%;
                font-size: 14px; 
                display: block;
                font-family: 'Open Sans', sans-serif;
            }
            .input_error {
                border: 2px solid red;    
            }
            .input_success {
                border: 2px solid green;    
            }
            #form_modal_icon_1 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_2 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_3 {
                bottom: 30px;
                right: 10px;
            }
            #form_modal_icon_4 {
                bottom: 30px;
                right: 10px;
            }
            i {
                position: relative;
                float: right;
                visibility: hidden;
            }
            .i_super {
                visibility: visible;
                color: green;
            }
            .i_error {
                visibility: visible;
                color: red;
            }
            small {
                color: red;
                font-family: 'Open Sans', sans-serif;
                visibility: hidden;
            }
            .small_visible {
                visibility: visible;    
            }
        }
    }
    
}
    

button {
    background-color: red;
    border: 2px solid red;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.change_color_button {
    background-color: blue;
    border: 2px solid blue;
    color: #fff;  
}

.qqq {
    
    opacity: 0.7;
    z-index: 30;
}

