* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/main_bg5.jpg) center center/cover no-repeat;
  min-height: 100vh;
  font-family: 'Mystical Woods Smooth Script';
  font-weight: normal;
  font-style: normal;
}

body .root {
  height: 100vh;
}

body .root .header {
  color: black;
  border-bottom: 2px solid black;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .root .header .link_log_reg {
  margin-right: 10px;
  cursor: pointer;
}

body .root .header .list_acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: cursive;
}

body .root .header .list_acc #account_file {
  display: none;
}

body .root .header .list_acc .img_account {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

body .root .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

body .root .container .a_main {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid #fff;
  background-color: #b5ddf7;
  border-radius: 5px;
  padding: 10px 20px;
  width: 300px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px rgba(103, 222, 243, 0.7);
          box-shadow: 0 2px 5px rgba(103, 222, 243, 0.7);
}

body .root .container .a_main:hover {
  background-color: #5eb7f1;
}

@font-face {
  font-family: 'Mystical Woods Smooth Script';
  src: url("../fonts/MysticalWoodsSmoothScript.eot");
  src: local("../fonts/Mystical Woods Smooth Script"), local("MysticalWoodsSmoothScript"), url("../fonts/MysticalWoodsSmoothScript.eot?#iefix") format("embedded-opentype"), url("../fonts/MysticalWoodsSmoothScript.woff2") format("woff2"), url("../fonts/MysticalWoodsSmoothScript.woff") format("woff"), url("../fonts/MysticalWoodsSmoothScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container_modal {
  background: #9152f8;
  background: -webkit-linear-gradient(top, #3712ef, #fafcfd);
  width: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  font-family: cursive;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container_modal .close_btn_window_registration {
  position: fixed;
  color: black;
  top: 2px;
  left: 384px;
  cursor: pointer;
}

.container_modal .header_modal_login {
  padding: 20px 40px;
}

.container_modal .header_modal_login h2 {
  margin: 0;
  text-align: center;
}

.container_modal .form_registration {
  padding: 0 40px 30px 40px;
  margin: 0;
}

.container_modal .form_registration .form_control {
  margin-bottom: 10px;
}

.container_modal .form_registration .form_control .label_form_registration {
  display: inline-block;
  margin-bottom: 5px;
}

.container_modal .form_registration .form_control .input {
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  display: block;
}

.container_modal .form_registration .form_control .input_error {
  border: 2px solid red;
}

.container_modal .form_registration .form_control .input_success {
  border: 2px solid green;
}

.container_modal .form_registration .form_control #form_modal_icon_1 {
  bottom: 30px;
  right: 10px;
}

.container_modal .form_registration .form_control #form_modal_icon_2 {
  bottom: 30px;
  right: 10px;
}

.container_modal .form_registration .form_control #form_modal_icon_3 {
  bottom: 30px;
  right: 10px;
}

.container_modal .form_registration .form_control #form_modal_icon_4 {
  bottom: 30px;
  right: 10px;
}

.container_modal .form_registration .form_control i {
  position: relative;
  float: right;
  visibility: hidden;
}

.container_modal .form_registration .form_control .i_super {
  visibility: visible;
  color: green;
}

.container_modal .form_registration .form_control .i_error {
  visibility: visible;
  color: red;
}

.container_modal .form_registration .form_control .small_registration {
  color: red;
  font-family: 'Open Sans', sans-serif;
  visibility: hidden;
}

.container_modal .form_registration .form_control .small_visible {
  visibility: visible;
}

.container_modal .form_registration .btn_modal_registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_modal .form_registration .btn_modal_registration_form .btn_modal_registration {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: block;
  padding: 10px;
  width: 160px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.container_modal .form_registration .btn_modal_registration_form .btn_success {
  background: green;
  border: none;
}

.container_modal .form_registration .btn_modal_registration_form .change_color_button {
  background-color: black;
  border: 2px solid black;
  color: #fff;
}

li {
  list-style-type: none;
}

li .link_login {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  width: 300px;
  height: 457px;
  background: white;
  z-index: 20;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px;
  background: #9152f8;
  background: -webkit-linear-gradient(top, #3712ef, #fafcfd);
}

.modal .header_modal {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 25;
  font-family: cursive;
}

.modal .form_modal .form_row {
  padding: 10px;
}

.modal .form_modal .form_row #input_name {
  padding: 10px 20px;
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-family: cursive;
  border-bottom-style: outset;
}

.modal .form_modal .form_row #input_name::-webkit-input-placeholder {
  color: white;
}

.modal .form_modal .form_row #input_pas {
  padding: 10px 20px;
  width: 100%;
  background: #9152f8;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-family: cursive;
  border-bottom-style: outset;
}

.modal .form_modal .form_row #input_pas::-webkit-input-placeholder {
  color: white;
}

.modal .form_modal .form_row #input_box {
  margin-right: 12px;
}

.modal .form_modal .form_row #label_3 {
  color: white;
  cursor: pointer;
  font-family: cursive;
}

.modal .form_modal .form_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.modal .form_modal .form_button .button_registr {
  padding: 10px 30px;
  cursor: pointer;
  font-family: cursive;
  border-radius: 25px;
}

.modal .form_modal .form_button .button_registr:hover {
  color: white;
  background: black;
  border: black;
}

.modal .form_modal .form_forgot {
  margin-top: 40px;
  text-align: center;
}

.modal .form_modal .form_forgot .link_registration {
  font-size: 16px;
  line-height: 1.4;
  color: black;
  font-family: cursive;
  cursor: pointer;
}

.modal .form_modal .form_forgot .link_registration:hover {
  color: #1dd8d8;
}

.dark {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.close_btn_window_login {
  position: absolute;
  left: 284px;
  top: 4px;
  cursor: pointer;
}

#input_pas::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:focus:-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_pas:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:focus:-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

#input_name:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
/*# sourceMappingURL=style.css.map */